@import '../../index.scss';

.entrance {
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logoHome{
    height: 7rem;
    width: 7rem;
  }
  @media screen and (max-width: 538px){
    .logoHome{
        width: 85px;
        height: 85px;
    }
}

  .banner {
    text-align: center;
    background: $primaryRedLight;
    display: inline-block;
    padding: 2rem;
    overflow: hidden;
    h1{
        margin-bottom: 1rem;
        text-transform: capitalize;
    }
    h2{
        margin-bottom: 1rem;
    }
  }
  .banner-title {
    font-size: 2.4rem;
    text-transform: capitalize;
    margin-bottom: 3rem;
    color: $primaryBlack;
  }
  @media screen and (max-width: 538px){
    .banner{
      h1{
        font-size: 1.8rem;
      }
      h2{
        font-size: 1.2rem;
      }
    }
}